@font-face {
    font-family: customized;
    src: url('https://fonts.googleapis.com/css2?family=Estonia&display=swap" rel="stylesheet');
}
body{
    margin: 0;
    padding: 0;
    font-family: customized;
}


